.article {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.article__date {
  color: gray;
  font-size: 15px;
  margin: 15px 0;
}

.article__img {
  width: 100%;
}

.article__title {
  padding: 15px 0;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .article {
    width: calc(50% - 15px);
    font-family: "Roboto", sans-serif;
  }
}

@media (min-width: 1200px) {
  .article {
    width: 20%;
    font-family: "Roboto", sans-serif;
  }
}
